.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  background-color: #ff7f0b;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  &:hover {
    color: white;
  }
}
.bm-item-list {
  color: #b8b7ad;
  height: auto !important;
}
.bm-burger-button {
  display: block;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 26px;
  @media (min-width: 992px) {
    display: none;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(
    0deg,
    rgba(46, 64, 83, 1) 0%,
    rgba(93, 109, 126, 1) 100%
  );
  padding: 0em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
